.container{
    max-width: 61.25rem;
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 1, 21);
    margin-top: 2rem;
    margin: 0 auto;
  }
  .spam{
    color: #fff;
    
  }
  /* @media (max-width: 768px){
    .container{
      justify-content: center;
      align-items: center;
    }
  } */