.container{
    max-width: 61.25rem;
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(3, 1, 21); */
    margin-top: 2rem;
    margin: 0 auto;
  }

  .containerIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    
  }

  .cont{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
  }